<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>helloword.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A66D75F2D07CACA0098E8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A66D7702D07CACB0098E8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A66D77A2D07CACB0098E8B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
